.container-form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form2{
    border-radius: 1rem ;
}
#signup:disabled{
    cursor: no-drop;
}
#mess_icon_success{
    position: initial;
    padding-bottom: 0;
}