{%extends 'product/index.html'%}
{%load static%}
 
{%block css%}
<link href="{% static 'css/signup.css'%}" rel="stylesheet">
<link href="{% static 'css/reset.css'%}" rel="stylesheet">
{%endblock%}
{%block body%}
    <div class="container-form">
        <!-- Button trigger modal -->
    <button hidden id="mess_log" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mess_log_modal">
    </button>
    <!-- Modal -->
    <div class="modal fade" id="mess_log_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-center" style="max-width: 700px;">
            <div class="modal-content" style="width: 600px; background-color: #F1F8FF;
                                        margin: auto;
                                        border: none;
                                        height: fit-content;
                                        border-radius: 10px;">
                <div class="modal-header" style="height: 60px;">
                    <h3 class="modal-title" id="exampleModalLabel">Message</h3>
                </div>
                <div id="mess_text" class="modal-body" style="font-size: 2.5rem; line-height: 66px;">
                    <div id="mess_icon_success" class="success-checkmark">
                        <div  class="check-icon">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <p id="mess-log-order" style="font-size: 1.5rem;margin-bottom: 0;">Change password successful</p>   
                </div>
                <div class="modal-footer" style="height: 70px;">
                    <button id="btn_confirm_mess" type="button" url="{%url 'product:login'%}" class="btn btn-primary shadow-none" style="font-size: 1.2rem;
                border-radius: 10px;
                margin-right: 15px;">Sign in</button>
                </div>
            </div>
        </div>
    </div>
        <form id="form-submit" value="{{payload}}" method="post" class="form form2">
            {%csrf_token%}
            <p class="form-title">Reset your password</p>
            <div class="input-container">
                <input placeholder="Enter password" id="password" name="password" type="password">
                <span>
                    <svg stroke="currentColor" id="unscore-password" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                        <path
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                            stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </span>
            </div>
            <p class="errors" id="password-err"></p>

            <div class="input-container">
                <input placeholder="Enter password again" id="password2" name="password2" type="password">

                <span>
                    <svg stroke="currentColor" id="unscore-password2" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                        <path
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                            stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </span>
            </div>
            <p class="errors" id="password2-err"></p>

            <button class="submit" id="signup" type="submit">
                Sign up
            </button>
        </form>
    </div>
{%endblock%}
{%block js%}
<script src="{% static 'js/reset.js' %}"></script>
{%endblock%}