{% extends "product/login.html" %}

    {%load static%}
    {%block css%}
    <link href="{% static 'css/signup.css'%}" rel="stylesheet"> 

    {%endblock%}

    <!--Main start-->
    {%block main%}
    <div class="container-xxl blur">

    </div>
    <div class="container-xxl">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="login-signup">
                    <div class="img-login">
                        <img src="{%static 'img/about-2.jpg'%}" alt=""> 
                    </div>
                <form action="{%url 'product:signup'%}" method="POST" id="form-submit" class="form">
                    {%csrf_token%}
                    <p class="form-title">Sign up your account</p>

                    <div class="input-container">
                        <input placeholder="Enter full name" id="full_name" name="full_name" type="text">
                    </div>

                    <div class="input-container">
                        <input placeholder="Enter your email" id="email" name="email" type="email">
                        <span>
                            <svg stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                                    stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </span>
                    </div>
                    <p class="errors" id="email-err"></p>

                    <div class="input-container">
                        <input placeholder="Enter your phone number" id="phone_number" name="phone_number" type="tel" pattern="[0][1-9]{9}" required>
                    </div>
                    <p class="errors" id="phone_number-err"></p>

                    <div class="input-container">
                        <input placeholder="Enter your address" id="address" name="address" type="text">
                    </div>

                    <div class="input-container">
                        <input placeholder="Enter password" id="password" name="password" type="password">
                        <span>
                            <svg stroke="currentColor" id="unscore-password" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                                <path
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                    stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </span>
                    </div>
                    <p class="errors" id="password-err"></p>

                    <div class="input-container">
                        <input placeholder="Enter password again" id="password2" name="password2" type="password">

                        <span>
                            <svg stroke="currentColor" id="unscore-password2" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                                <path
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                    stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </span>
                    </div>
                    <p class="errors" id="password2-err"></p>

                    <button class="submit" id="signup" type="submit">
                        Sign up
                    </button>
                    <hr>
                    <p class="signup-link create-up">
                        Have an account?
                        <a href="{%url 'product:login'%}">Sign in</a>
                    </p>
                    
                </form>
                
                
            </div>
        </div>
    </div>
    {%endblock%}
    <!--Main end-->
    {%block js%}
    <script src="{% static 'js/signup.js' %}"></script>

    {%endblock%}